# 適切に値を設定したのちに .env というファイル名で保存してください


#Stackの名前
CDK_STACK_NAME=

# AWS Amplifyのアプリ名
AMP_APP_NAME=

# Githubリポジトリ名、あらかじめリポジトリを作成しておいてください。あとからamplifyに接続します。
GITHUB_REPOSITORY=

# AWS Secrets Manager secret name for the GitHub access token
ASM_SECRET_NAME=
